In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
roles = ["Data Analyst","Data Engineer"," Data Scientist", "ML Engineer",
"Business Analyst"]
counts = [300, 500, 450, 200, 150]

SyntaxError: invalid syntax (121923834.py, line 1)

In [ ]:
plt.bar(roles, counts)
plt.title(&#39;Distribution of Data Science Roles&#39;)
plt.xlabel(&#39;Role&#39;)
plt.ylabel(&#39;Count&#39;)
plt.show()